/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}
.index {
  margin: 20px auto;
  padding: 15px 0;
  text-align: -webkit-center;
}
.index .current-time{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
